html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
	margin: 0;
	padding: 0;
}
*{box-sizing: border-box;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
	list-style: none;
}

img {
	border: none;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #232323;
}
li{
	list-style-type: none; 
}
body{
	font-family: '微软雅黑'
}
/*以上是公用的css代码*/
.outer{
	width: 90%;
	margin: 0 auto;
	
}
.container{
	width: 100%;
	background: #F2624D;
}
/*导航*/
.na{
	position: relative;
	width: 100%;
	background: #71C3C8;
	height: 50px;
	line-height: 50px;
	text-align: center;

}
.arrow{
	position: absolute;
	left: 6%;
	top: 33%;
	height: 33%; 
}
.na>span{
	font-family: '微软雅黑';
    color: #fff;
    font-size: 110%
}
/*主题图片*/
.theme_jpg{
	width: 100%;
}
/*购买服务*/
.buy_service{
	margin: 0 auto;
}
.vip_three_month{
position: relative;
box-shadow: 1.5px 1.5px #434c53;
margin: 0 auto;
background: #FFEB5E;
width: 100%;
height: 50px;
line-height: 50px;
border-radius: 25px;
margin-bottom: 12px;

}
.vip_three_month .month{
	font-size: 163%;
	margin-left: 7%;
	color:#F2624D;
	font-weight: bold;
	display: inline-block; 

}
.vip_charge{
	margin-left: -1%;
	line-height: 12px;
	font-size: 60%;
	display: inline-block;
	
}
.vip_charge .charge1{
	line-height: 15px;
	color:#F2624D;

}
.vip_charge .charge2{
	line-height: 12px;
	background: #F2624D;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #fff;

}
.vip_charge .charge2 .yeColor{
	color: #FFEB5E;
}

.buy{
	position: absolute;
	width: 25%;
	color: #fff;
	box-shadow: 1px 1px  #434c53;
	background: #F2624D;
	display: inline-block;
	line-height: 33px;
	text-align: center;
	margin-left: 7%;
	border-radius: 16px;
	font-size: 14px;
	right: 2%;
	top:50%;
	transform: translateY(-50%);	

}
/*介绍*/
.introduce{
	margin-top: 24px;
	margin-left: 50%;
	transform: translate(-50%);
	width: 35%;
	margin-bottom: 14px;



}
/*介绍详情*/
.detail{
	width: 100%;
	background: #fff;
	border-radius: 2%;
	padding-bottom: 16px;
}
.detail ul li{
	padding-top: 14px;

	padding-left: 4%;
}
.detail ul li span:not(:first-child){

	display: block;
	line-height: 20px;
	font-size: 14px;
	color: #434c53;
}
.detail ul li span:nth-of-type(1){
	display: block;
	color: #F2624D;
	height: 16px;
	margin-top:6px;
	margin-bottom: 10px;
	font-size: 16px;
	overflow: hidden;
	line-height: 16px;
	vertical-align: top;
}

.con::before{
	content: '';
	height: 0;
	width: 0;
	
	/*visibility: hidden;*/
	margin-right: 4px;
	/*border-top: -1px solid  #F2624D;*/
   border-right: 1px solid  #F2624D;

   /*border-bottom:1px solid  #F2624D;*/

   border-left: 2px solid  #F2624D;
	color: #F2624D;
}
/*获得奖品的展示栏*/
.got_prize{
	padding-top:12px;

}
.prize_list{
	overflow: hidden;
	/*position: relative;*/
	width: 100%;
	margin: 0 auto;
	background: #fff;
	line-height: 29px;
	font-size: 14px;
	color: #434c53;
	border-radius: 8px;
	padding-left: 12px;
	height: 177px;
}
.prize_list .list{
	/*position: absolute;*/
	/* top: 0; */
	/* height: 120px; */
	height: 177px;

}

.prize_list .list li{
	/* position:absolute; */
}

.prize_list .list li span{
	color:#F2624D ;
	display: inline-block;
	margin-right: 12px;

}
/*领取话费*/
.fetch_telephone_pay{
width: 100%;
height: 50px;
line-height: 50px;
background: #FFEB5E;
text-align: center;
border-radius: 25px; 
color:#F2624D; 
margin-top: 12px;
    font-weight: bold;
}
.outer{
	padding-bottom: 24px;
}